/* reset */
* { box-sizing: border-box; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer; outline:none}
table {border-collapse:collapse;border-spacing:0}
body {-webkit-text-size-adjust:none} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff
}
body,th,td,input,select,textarea,button {font-size:14px;line-height:1.5;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;color:#333}
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

/* content */
h1 {padding:5px 10px; text-shadow: 4px 4px 2px rgba(150, 150, 150, 1)}
h3 {padding:5px 10px; margin-bottom:30px}
.content.default,
.content.in_game {
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:300px;
  -moz-box-shadow:inset 0px 0px 25px #5eab5e;
  -webkit-box-shadow:inset 0px 0px 25px #5eab5e;
  box-shadow:inset 0px 0px 25px #5eab5e
}
.content.in_game {padding: 30px 0}
#btnGameStart {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
  padding: 8px 20px;
  margin:0 auto;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#5bf079 50%,
		#47de7c 50%,
		#19b037 65%,
		#2f8a21);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #5bf079),
		color-stop(0.50, #47de7c),
		color-stop(0.65, #19b037),
		to(#2f8a21));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 5px rgba(16,161,96,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 5px rgba(16,161,96,0.6);
	text-shadow:
		0px -1px 3px rgba(255,255,255,0.8),
		0px 1px 0px rgba(255,255,255,0.3);
}

.list_ideal {display:flex;justify-content:space-evenly}
.list_ideal li {
  width:30%;
  max-width:450px;
  min-width:320px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  justify-content:space-evenly
}
.list_ideal li a {display:block;width:100%}
.list_ideal li a:hover img,
.list_ideal li a:active img,
.list_ideal li a.selected img {
  -webkit-filter: grayscale(100%);
  filter: gray;
}
.list_ideal li span {display:block;width:100%}
.list_ideal li span img {width:100%}
